body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  margin: 0;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 243, 243, 0.25);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #12c2e9;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0a8dab;
}

.join-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-form input {
  flex-grow: 1;
  margin-right: 1rem;
}

.join-form button {
  flex-shrink: 0;
}

.chat-room {
  margin-bottom: 1rem;
}

.chat-room input {
  margin-right: 1.5rem;
}

.online-users {
  margin-top: 2rem;
}
